.mailTable tr:not(:first-child):hover{
    background-color: #005000;
}

.mailTable tr{
    border: 2px solid grey;
}

.mailTable{
    border-collapse: collapse;
	width:100%;
}

.mailTable tr:first-child{
    border: none;
}

.mailTable tr:first-child > td{
    padding-bottom: 20px;
}