body {
    font-family: Arial;
    color: rgb(255, 255, 255);
    background: #2C2C2C url(/static/images/star_start.png) repeat;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.textcenter{
    text-align: center;
}

.left{
    text-align: left;
    float: left;
}

.right{
    text-align: right;
    float: right;
}

.top{
    vertical-align: top;
}

.error{
    color: red;
}

.background_layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 652px;
    background: transparent url(/static/images/bg_image.jpg) no-repeat top center;
}

.tp {
    opacity: 0.700;
    border-style: solid;
    border-width: 1px;
    border-color: #00FF00;
    background-color: #111;
}

.col > td {
}

* {
    font-size: 5mm;
}

h1 {
    font-size: 20mm;
    margin: 0;
    height: 103px;
}

h2 {
    font-size: 9mm;
}

h3 {
    font-size: 8mm;
}

h4 {
    font-size: 7mm;
}

h5 {
    font-size: 6mm;
}

h6 {
    font-size: 5mm;
}

a:link {
    color: #FFFFEE;
}

a:visited {
    color: #FFFFEE;
}

a:active {
    color: #FFFFEE;
}

.kasten {
    border: 3px inset rgb(0, 0, 0);
}

.brett {
    border: 3px outset rgb(0, 0, 0);
}

#dw_desc {
    width: 300px;
}