* {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    background: #2C2C2C url(/static/images/star_start.png) repeat;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.text-right{
	text-align:right;
}

.text-center{
	text-align:center;
}

.header{
	text-align:center;
}

.entry{
	max-width:100%;
	margin-right:2px;
}

.div{
	margin-left:1em;
	margin-top:1em;
	margin-right:1em;
	margin-bottom:1em;
}

.border {
    border-style: solid;
    border-width: 3px;
    border-color: #00B700;
    background-color: #111111;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.mailimage {
    height: 5.5mm;
    max-width: auto;
    vertical-align: middle;
}