body {
    font-family: Arial;
    color: rgb(255, 255, 255);
    background: #2C2C2C url(/static/images/star_start.png) repeat;
}

* {
    font-size: 5mm;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width:1000px){
	nav{
		float: left;
		width: 180px;
		margin-right: 20px;
		margin-top: 70px;
	}
	section{
		margin-left: 200px;
		margin-top: 1em;
	}
	.screenwidth{
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width:999px){
	nav{
		display: inline;
	}
	section{
		
	}
	.screenwidth{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

.half-left{
	float: left;
	width: 50%;
	margin-top: 1em;
	margin-left: 1em;
}

.half-right{
	margin-left: 52%;
	width: 48%;
	margin-top: 1em;
	margin-right: 1em;
}

.third-left{
	float: left;
	width: 33%;
}

.third-right{
	margin-left: 35%;
	width: 65%;
}

.text-right{
	text-align:right;
}

.text-center{
	text-align:center;
}

.entry{
	max-width:100%;
}

.div{
	margin-left:1em;
	margin-top:1em;
	margin-right:1em;
	margin-bottom:1em;
}

.border {
    border-style: solid;
    border-width: 3px;
    border-color: #00B700;
    background-color: #111111;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

a {
    color: #00B700;
}

a:visited {
    color: #00B700;
}

a:hover {
    color: #00E000;
}

a:active {
    color: #00E000;
}

.mailTable tr:not(:first-child):hover{
    background-color: #005000;
}

.mailTable tr{
    border: 2px solid grey;
}

.mailTable{
    border-collapse: collapse;
}

.mailTable tr:first-child{
    border: none;
}

.mailTable tr:first-child > td{
    padding-bottom: 20px;
}


.centered {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.centered_layer2 {
    margin-left: auto;
    margin-right: auto;
    width: 760px;
}

.textcenter{
    text-align: center;
}

.left{
    text-align: left;
    float: left;
}

.right{
    text-align: right;
    float: right;
}

.top{
    vertical-align: top;
}

.error{
    color: red;
}

.background_layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    max-width: 100%;
    height: 652px;
    background: transparent url(/static/images/star_start.png) no-repeat top center;
}

.col > td {
}

.hidden {
	visibility: hidden;
}

h1 {
    font-size: 18mm;
    margin: auto;
    height: 103px;
}

h2 {
    font-size: 10mm;
}

h3 {
    font-size: 9mm;
}

h4 {
    font-size: 8mm;
}

h5 {
    font-size: 7mm;
}

h6 {
    font-size: 6mm;
}

h7 {
    font-size: 5mm;
}

h8 {
    font-size: 4mm;
}

h9 {
    font-size: 3mm;
}

.tpkasten {
    border: 3px inset rgb(0, 0, 0);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.brett {
    border: 3px outset rgb(0, 0, 0);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#dw_desc {
    max-width: 345px;
    margin-left: 5px;
}

.mailimage {
    height: 5.5mm;
    max-width: auto;
    vertical-align: middle;
}

img {
    max-width: 100%;
    max-height: 100%;
}