{% extends "base.html" %}
{% block header %}
	<link href="{{ url_for("static", filename="css/holomail.css") }}" rel="stylesheet">
    <section class="header">
        <h1>Allianz</h1>
    </section>
{% endblock %}
{% block content %}
	<section class="border">
		<div class="div">
			<div>
				<div class="fith-left">
                    Name:
				</div>
				<div class="fith-right {{ "hidden" if alliance.name==null }}">
					{{ alliance.name if alliance.name!=null else "1234" }}
				</div>
			</div>
			<div>
				<div class="fith-left">
                    Gründer:
				</div>
				<div class="fith-right {{ "hidden" if alliance.owner.username==null }}">
					{{ alliance.owner.username if alliance.owner.username!=null else "1234" }}
				</div>
			</div>
			<div>
				<div class="fith-left">
                    Beschreibung:
				</div>
			</div>
			<div class="div">
                {{ alliance.description }}
			</div>
			<div>
				<div class="fith-left">
                    Mitglieder:
				</div>
				<div class="fith-right">
					{% for member in alliance.members %}
                        {{ member.username }}
                    {% endfor %}
				</div>
			</div>
			<div class="div">
                <a href="{{ url_for("alliance_invite", id=alliance.id) }}">Allianz&nbspeinladen</a>
			</div>
		</div>
	</section>
{% endblock %}