{% extends "base.html" %}
{% block content %}
	<link href="{{ url_for("static", filename="css/holomail.css") }}" rel="stylesheet">
    <section class="header">
        <h1>Allianz</h1>
    </section>
	{% include "flash.html" %}
    {% if allianzen==None %}
        <section class="border">
            <div class="div">
                Du bist in noch keiner Allianz. <a href="{{ url_for("allianz_new") }}">Allianz erstellen.</a>
            </div>
        </section>
    {% else %}
        <section class="border">
            <div class="div">
                <table class="mailtable" border="0" cellpadding="5" cellspacing="5">
                    <tr>
                        <td>
                            Allianzname
                        </td>
                        <td>
                            Gründer
                        </td>
                    </tr>
                    {% for allianz in allianzen %}
                        <tr onclick="window.document.location='{{ url_for("allianz_detail", id=allianz.id) }}'">
                            <td>
                                {{ allianz.name }}
                            </td>
                            <td>
                                {{ allianz.owner.username }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
    {% endif %}
{% endblock %}