<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		{% if title %}
		<title>{{ title }} - Destyny War</title>
		{% else %}
		<title>Destyny War</title>
		{% endif %}
		<link rel="shortcut icon" href="{{ url_for("static", filename="images/logo.jpg") }}"/>
		<link href="{{ url_for("static", filename="css/main.css") }}" rel="stylesheet">
		<link href="{{ url_for("static", filename="css/fonts.css") }}" rel="stylesheet">
		<link href="{{ url_for("static", filename="css/responsive.css") }}" rel="stylesheet">
		<link href="{{ url_for("static", filename="css/splitlayout.css") }}" rel="stylesheet">
	</head>

	<body class="screenwidth">
		{% include "menu.html" %}
		{% block content %}
		{% endblock %}
	</body>
</html>