<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <title>Destyny War - Planetenname</title>
    <link rel="shortcut icon" href="{{ url_for("static", filename="logo.jpg") }}"/>
    <style type="text/css">
        body {
            font-family: Arial;
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            background: #2C2C2C url({{ url_for("static", filename="images/star_start.png") }}) repeat;
        }

        .background_layer {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 652px;
            background: transparent url({{ url_for("static", filename="images/starbg.png") }}) no-repeat top center;
        }

        .tp {
            opacity: 0.700;
        }

        * {
            font-size: 4mm;
        }

        h1 {
            font-size: 5mm;
        }

        h2 {
            font-size: 5mm;
        }

        h3 {
            font-size: 5mm;
        }

        h4 {
            font-size: 5mm;
        }

        h5 {
            font-size: 5mm;
        }

        h6 {
            font-size: 5mm;
        }

        a:link {
            color: #FFFFEE;
        }

        a:visited {
            color: #FFFFEE;
        }

        a:active {
            color: #FFFFEE;
        }

        .kasten {
            border: 3px inset rgb(0, 0, 0);
        }

        .brett {
            border: 3px outset rgb(0, 0, 0);
        }
    </style>
    <script type="text/javascript">
        function spoiler(ref) {
            var display_value = ref.parentNode.getElementsByTagName('span')[0].style.display;
            if (display_value == 'none') {
                ref.parentNode.getElementsByTagName('span')[0].style.display = 'block';
            }
            else {
                ref.parentNode.getElementsByTagName('span')[0].style.display = 'none';
            }
            var buttontext = ref.value;
            if (buttontext == 'aufklappen') ref.value = 'zuklappen';
            else ref.value = 'aufklappen';
        }
        function insert(aTag, eTag, formname, elementname) {
            var input = document.forms[formname].elements[elementname];
            input.focus();
            /* für Internet Explorer */
            if (typeof document.selection != 'undefined') {    /* Einfügen des Formatierungscodes */
                var range = document.selection.createRange();
                var insText = range.text;
                range.text = aTag + insText + eTag;
                /* Anpassen der Cursorposition */
                range = document.selection.createRange();
                if (insText.length == 0) {
                    range.move('character', -eTag.length);
                } else {
                    range.moveStart('character', aTag.length + insText.length + eTag.length);
                }
                range.select();
            }  /* für neuere auf Gecko basierende Browser */
            else {
                if (typeof input.selectionStart != 'undefined') {    /* Einfügen des Formatierungscodes */
                    var start = input.selectionStart;
                    var end = input.selectionEnd;
                    var insText = input.value.substring(start, end);
                    input.value = input.value.substr(0, start) + aTag + insText + eTag + input.value.substr(end);
                    /* Anpassen der Cursorposition */
                    var pos;
                    if (insText.length == 0) {
                        pos = start + aTag.length;
                    } else {
                        pos = start + aTag.length + insText.length + eTag.length;
                    }
                    input.selectionStart = pos;
                    input.selectionEnd = pos;
                }  /* für die übrigen Browser */
                else {    /* Abfrage der Einfügeposition */
                    var pos;
                    var re = new RegExp('^[0-9]{0,3}$');
                    while (!re.test(pos)) {
                        pos = prompt("Einfügen an Position (0.." + input.value.length + "):", "0");
                    }
                    if (pos > input.value.length) {
                        pos = input.value.length;
                    }
                    /* Einfügen des Formatierungscodes */
                    var insText = prompt("Bitte geben Sie den zu formatierenden Text ein:");
                    input.value = input.value.substr(0, pos) + aTag + insText + eTag + input.value.substr(pos);
                }
            }
        }
        function sleep(prmSec) {
            var eDate = null;
            var eMsec = 0;
            var sDate = new Date();
            var sMsec = sDate.getTime();
            do {
                eDate = new Date();
                eMsec = eDate.getTime();
            } while ((eMsec - sMsec) < prmSec);
        }

        var Zeit = new Date();
        var localet = Zeit.getTime();
        var servert = {{ g.servertime }};
        var diff = localet - servert;
        function rekursivtimer() {
            var now = new Date();
            var nowserver = new Date(now.getTime() - diff);
            document.getElementById('servertime').innerHTML = "Serverzeit: " + (nowserver.toLocaleString());
            window.setTimeout("rekursivtimer()", 500);
            delete now;
            delete nowserver;
        }
        function time_duration(seconds) {
            var outstring = "";
            var mustshow = false;
            if (Math.floor(seconds / 3600) > 0) {
                outstring += (Math.floor(seconds / 3600) + "&nbsp;Stunden, ");
                mustshow = true;
            }
            seconds %= 3600
            if ((Math.floor(seconds / 60) > 0) || mustshow) {
                outstring += (Math.floor(seconds / 60) + "&nbsp;Minuten, ");
                mustshow = true;
            }
            seconds %= 60;
            if ((Math.floor(seconds / 1) > 0) || mustshow) {
                outstring += (Math.floor(seconds / 1) + "&nbsp;Sekunden");
                mustshow = true;
            }

            return outstring;
        }
        function rekursivrestzeit(elementid, end) {
            var now = new Date();
            var nowserver = new Date(now.getTime() - diff);
            document.getElementById(elementid).innerHTML = time_duration(end - nowserver.getTime() / 1000);
            if (time_duration(end - nowserver.getTime() / 1000) == "") {
                location.reload();
                return;
            }
            window.setTimeout("rekursivrestzeit('" + elementid + "'," + end + ")", 500);
            delete now;
            delete nowserver;
        }
        function SetTimeDur(elementid, sec) {
            document.getElementById(elementid).innerHTML = time_duration(sec);
        }
    </script>

    <script src="{{ url_for("static", filename="javascript/prototype.js") }}" type="text/javascript"></script>
    <script src="{{ url_for("static", filename="javascript/scriptaculous.js") }}" type="text/javascript"></script>

</head>
<body id="body" class="body" name="body" onload="rekursivtimer();">
<center>
    <table border="0" cellpadding="1" cellspacing="3" style="width:100%;">
        <tbody>
        <tr>
            <td colspan="3" style="background-color:#111;width:100%;" class="biggersize tp">
                <center>
                    <a href="{{ url_for("logout") }}">Logout</a>&nbsp;
                    <a href="karte.php">Karte</a>&nbsp;
                    <a href={{ url_for("planet_overview") }}>Planet</a>&nbsp;
                    <a href="planetsoverview.php">eigene&nbsp;Planeten</a>&nbsp;
                    <a href="rang.php">Rangliste(0&nbsp;Punkte)</a>&nbsp;
                    (<a href="allianz_forum.php">neu</a>)
                    <a href="allianz.php">Allianz</a>&nbsp;
                    <a href="holoberichte.php">Holoberichte</a>&nbsp;
                    {% if g.user.are_all_mails_read() %}
                        <a href="{{ url_for("holopost") }}"><img src="{{ url_for("static", filename="images/HolomailGelesen.png") }}" title="Holomails" style="height: 20px;"></a>&nbsp;
                    {% else %}
                        <a href="{{ url_for("holopost") }}"><img src="{{ url_for("static", filename="images/HolomailNeu.png") }}" title="Neue Holomails" style="height: 20px;"></a>&nbsp;
                    {% endif %}
                    <a href="settings.php">Einstellungen</a>
                    <br/>
                    <b style='background-color:#009;'>Es laufen 0&nbsp;<a href='show_attacks.php'>Angriffe</a> auf dich.</b>
                </center>
            </td>
        </tr>
        <tr>
            <td valign="top" style="background-color:#111;width:25%;" class="tp">
                <div>
                    <h6>Rohstoffe:</h6>
                            <table>
                                <tr>
                                    <td>Platin:</td>
                                    <td>0&nbsp;-&nbsp;0
                                    </td>
                                </tr>
                                <tr>
                                    <td>Stahl:</td>
                                    <td>0&nbsp;-&nbsp;0
                                    </td>
                                </tr>
                                <tr>
                                    <td>Energie:</td>
                                    <td>0&nbsp;-&nbsp;0
                                    </td>
                                </tr>
                                <tr>
                                    <td>Plasma:</td>
                                    <td>0&nbsp;-&nbsp;0
                                    </td>
                                </tr>
                                <tr>
                                    <td>Plasmid:</td>
                                    <td>0&nbsp;-&nbsp;0
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nahrung:</td>
                                    <td>0&nbsp;-&nbsp;0
                                    </td>
                                </tr>
                                <tr>
                                    <td>Freie Bev&ouml;lkerung:</td>
                                    <td>0
                                    </td>
                                </tr>
                                <tr>
                                    <td>Moral:</td>
                                    <td>0%</td>
                                </tr>
                            </table>
                            <br/>
                            <h6>Geb&auml;ude:</h6>
                            <table>
                                Hier eine Liste der Gebäude
                            </table>
                </div>
            </td>
            <td valign="top" style="background-color:#111;width:50%;" class="tp">
                <div>
                    <center>
                        <br>