                </center>
			</div>
        </td>
		<td valign="top" style="background-color:#111;width:25%;" class="tp">
			<div>
			<h6>Einheiten:</h6>
			<table>
				<tr>
					<td>
						Unit Name
					</td>
					<td>
						:
					</td>
					<td>
						Unit Anzahl
					</td>
				</tr>
			</table><br/><br/>
Laufende Angriffe:<br/><br/>
<table border="1">
<tr><th>Herkunft</th><th>Ziel</th><th>Ankunft</th><th>Ankunft in</th>
</tr>
<tr><td>Von</td><td>Nach</td><td>Zeit</td><td><b id='restzeitA0' > Berechne...</b><script type="text/javascript">window.setTimeout("rekursivrestzeit('restzeitA0', 1490060037)", 500);</script></td>
</tr>
</table>
<hr/>
Eintreffende Angriffe:<br/><br/>
<table border="1">
<tr><th>Herkunft</th><th>Ziel</th><th>Ankunft</th><th>Ankunft in</th></tr>
<tr><td>Von</td><td>Nach</td><td>Zeit</td><td><b id='restzeitA1' > Berechne...</b><script type="text/javascript">window.setTimeout("rekursivrestzeit('restzeitA1', 1490060037)", 500);</script></td>
</table>
<hr/>
			</div>
		</td>
    </tr>
	<tr>
		<td>
		</td>
		<td colspan="2" align="right" style="font-size:smaller">
			<div  id="servertime" name="servertime" style="font-size:90%">Serverzeit:</div>
		</td>
	</tr>
  </tbody>
</table>
</center>
<div class="background_layer">&nbsp;</div>
<div id="temp" name="temp" style="display:none;">
    <div id="shoutboxsaver"></div>
    <div id="kartesaver"></div>
</div>
</body>
</html>