{% extends "base.html" %}
{% block content %}
    <section class="header">
        <h1>Holopost</h1>
    </section>
	{% include "flash.html" %}
	<section>
		<div class="div text-center">
			<a href="{{ url_for("holopost_write") }}">Holopost schreiben</a>&nbsp;&nbsp;
			<a href="{{ url_for("holopost_sent") }}">Postausgang</a>&nbsp;&nbsp;
			<a href="{{ url_for("holopost") }}">Posteingang</a>
		</div>
	</section>
	<section class="border">
		<div class="div">
			<div>
				<div class="fith-left">
                    Absender:
				</div>
				<div class="fith-right">
					{{ mail.sender.username }}
				</div>
			</div>
			<div>
				<div class="fith-left">
                    Empfänger:
				</div>
				<div class="fith-right">
					{{ mail.receiver.username }}
				</div>
			</div>
			<div>
				<div class="fith-left">
                    Datum:
				</div>
				<div class="fith-right">
					{{ mail.timestamp.strftime("%H:%M %d.%m.%y") }}
				</div>
			</div>
			<div>
				<div class="fith-left">
                    Betreff:
				</div>
				<div class="fith-right">
					{{ mail.subject }}
				</div>
			</div>
			<div class="div">
                <p>{{ mail.body }}</p>
			</div>
			<div class="div">
				<a href="{{ url_for("holopost_write", receiver=mail.sender.username) }}">Antworten</a>
			</div>
		</div>
	</section>
{% endblock %}