{% extends "base.html" %}
{% block content %}
	{% include "flash.html" %}
    <tr>
        <td class="border textcenter"><h1>Holopost</h1></td>
    </tr>
    <tr class="border">
    <td class="textcenter">
        <a href="{{ url_for("holopost_write") }}">Holopost schreiben</a>&nbsp;&nbsp;
        Postausgang&nbsp;&nbsp;
        <a href="{{ url_for("holopost") }}">Posteingang</a>
    </td>
    </tr>
    {% if not mails.items %}
        <tr>
            <td class="border">
                Du hast noch keine Holopost gesendet.
            </td>
        </tr>
    {% else %}
        <tr>
            <td class="border">
                <table class="mailtable" border="0" cellpadding="5" cellspacing="5">
                    <tr>
                        <td>
                            Sender
                        </td>
                        <td>
                            Empfänger
                        </td>
                        <td>
                            Betreff
                        </td>
                        <td class="right">
                            Zeit
                        </td>
                    </tr>
                    {% for mail in mails.items %}

                        <tr onclick="window.document.location='{{ url_for("holopost_detail", id=mail.id) }}'">
                            <td>
                                {{ mail.sender.username }}
                            </td>
                            <td>
                                {{ mail.receiver.username }}
                            </td>
                            <td>
                                {{ mail.subject }}
                            </td>
                            <td class="right">
                                {{ mail.timestamp.strftime("%H:%M %d.%m.%y") }}
                            </td>
                        </tr>

                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
        <td class="textcenter">
            {% if mails.has_prev %}
                <a href="{{ url_for("holopost_sent", page=mails.prev_num) }}" > <- neuer </a>
            {% else %}
                <- neuer
            {% endif %}
            &nbsp;&nbsp;
            {% if mails.has_next %}
                <a href="{{ url_for("holopost_sent", page=mails.next_num) }}" > älter -> </a>
            {% else %}
                älter ->
            {% endif %}
        </td>
        </tr>
    {% endif %}
{% endblock %}