{% extends "base.html" %}
{% block header %}
	<link href="{{ url_for("static", filename="css/holomail.css") }}" rel="stylesheet">
    <section class="header">
        <h1>Holopost</h1>
    </section>
{% endblock %}
{% block content %}
	<section>
		<div class="div text-center">
			<a href="{{ url_for("holopost_write") }}">Holopost schreiben</a>&nbsp;&nbsp;
			<a href="{{ url_for("holopost_sent") }}">Postausgang</a>&nbsp;&nbsp;
			<a href="{{ url_for("holopost") }}">Posteingang</a>
		</div>
	</section>
	<section class="border">
		<div class="div">
			<div>
				<div class="fith-left">
                    Absender:
				</div>
				<div class="fith-right {{ "hidden" if mail.sender.username==null }}">
					{{ mail.sender.username if mail.sender.username!=null else "1234" }}
				</div>
			</div>
			<div>
				<div class="fith-left">
                    Empfänger:
				</div>
				<div class="fith-right {{ "hidden" if mail.receiver.username==null }}">
					{{ mail.receiver.username if mail.receiver.username!=null else "1234" }}
				</div>
			</div>
			<div>
				<div class="fith-left">
                    Datum:
				</div>
				<div class="fith-right {{ "hidden" if mail.timestamp==null }}">
					{{ mail.timestamp.strftime("%H:%M %d.%m.%y") if mail.timestamp!=null else "1234" }}
				</div>
			</div>
			<div>
				<div class="fith-left">
                    Betreff:
				</div>
				<div class="fith-right {{ "hidden" if mail.subject==null }}">
					{{ mail.subject if mail.subject!=null else "1234" }}
				</div>
			</div>
			<div class="div">
          {{ mail.body|markdown }}
			</div>
			<div class="div">
				<a href="{{ url_for("holopost_write", receiver=mail.sender.username) }}">Antworten</a>
        <a href="{{ url_for("holopost_delete", id=mail.id) }}">Löschen</a>
			</div>
		</div>
	</section>
{% endblock %}