{% extends "base.html" %}
{% block content %}
	<link href="{{ url_for("static", filename="css/holomail.css") }}" rel="stylesheet">
	<section class="header">
		<h1>Holopost</h1>
	</section>
	{% include "flash.html" %}
	<section>
		<div class="div text-center">
			<a href="{{ url_for("holopost_write") }}">Holopost schreiben</a>&nbsp;&nbsp;
			<a href="{{ url_for("holopost_sent") }}">Postausgang</a>&nbsp;&nbsp;
			<a href="{{ url_for("holopost") }}">Posteingang</a>
		</div>
	</section>
	<section class="border">
    {% if not mails.items %}
		<div class="div">
            Du hast noch keine Holopost.
		</div>
    {% else %}
		<div class="div">
			<table class="mailtable" border="0" cellpadding="5" cellspacing="5">
				<tr>
					<td>
						Sender
					</td>
					<td>
						Empfänger
					</td>
					<td>
						Betreff
					</td>
					<td class="text-right">
						Zeit
					</td>
					<td class="text-right">
						Gelesen
					</td>
				</tr>
				{% for mail in mails.items %}
					<tr onclick="window.document.location='{{ url_for("holopost_detail", id=mail.id) }}'" class="{{ "" if mail.read else "highlight" }}">
						<td>
							{{ mail.sender.username }}
						</td>
						<td>
							{{ mail.receiver.username }}
						</td>
						<td>
							{{ mail.subject }}
						</td>
						<td class="text-right">
							{{ mail.timestamp.strftime("%H:%M %d.%m.%y") }}
						</td>
						<td class="text-right">
							{% if mail.read %}
								<img class="mailimage" src="{{ url_for("static", filename="images/HolomailGelesen.png") }}">
							{% else %}
								<img class="mailimage" src="{{ url_for("static", filename="images/HolomailNeu.png") }}">
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
			<div class="div text-center">
				{% if mails.has_prev %}
					<a href="{{ url_for("holopost", page=mails.prev_num) }}" > <- neuer </a>
				{% else %}
					<a class="hidden" > <- neuer </a>
				{% endif %}
				&nbsp;&nbsp;
				{% if mails.has_next %}
					<a href="{{ url_for("holopost", page=mails.next_num) }}" > älter -> </a>
				{% else %}
					<a class="hidden" > älter -> </a>
				{% endif %}
			</div>
		</div>
    {% endif %}
	</section>
{% endblock %}