{% extends "base.html" %}
{% block content %}
	<link href="{{ url_for("static", filename="css/holomail.css") }}" rel="stylesheet">
	<section class="header">
		<h1>Holopost</h1>
	</section>
	{% include "flash.html" %}
	<section>
		<div class="div text-center">
			<a href="{{ url_for("holopost_write") }}">Holopost schreiben</a>&nbsp;&nbsp;
			<a href="{{ url_for("holopost_sent") }}">Postausgang</a>&nbsp;&nbsp;
			<a href="{{ url_for("holopost") }}">Posteingang</a>
		</div>
	</section>
	<section class="border">
		<div class="div">
            <form method="post" name="holomail">
                {{ form.hidden_tag() }}
                {{ pagedown.include_pagedown() }}
				<div>
					<div class="fith-left {{ "error" if form.receiver.errors }}">
						Empfänger:
					</div>
					<div class="fith-right">
						{{ form.receiver(size=20) }}
					</div>
				</div>
				<div>
					<div class="fith-left {{ "error" if form.subject.errors }}">
						Betreff:
					</div>
					<div class="fith-right">
						{{ form.subject(size=20) }}
					</div>
				</div>
				<div>
					<div class="fith-left {{ "error" if form.body.errors }}">
						Nachricht:
					</div>
					<div class="fith-right">
						{{ form.body(rows=10, class="smalltext wide") }}
					</div>
				</div>       
        <div>
          <div class="fith-right smalltext" id="preview" style="display:none;">
            {{ form.body(only_preview=True) }}
          </div>
        </div>
				<div>
					<div class="fith-right">
            <script>
                function showhide(id) {
                var e = document.getElementById(id);
                e.style.display = (e.style.display == 'block') ? 'none' : 'block';
             }
             </script>
						{{ form.submit }}<input type="button" value="Vorschau" onclick="showhide('preview')">
					</div>
				</div>
			</form>
		</div>
	</section>
{% endblock %}