{% extends "base.html" %}
{% block content %}
	<link href="{{ url_for("static", filename="css/holomail.css") }}" rel="stylesheet">
	<section class="header">
		<h1>Holopost</h1>
	</section>
	{% include "flash.html" %}
	<section>
		<div class="div text-center">
			<a href="{{ url_for("holopost_write") }}">Holopost schreiben</a>&nbsp;&nbsp;
			<a href="{{ url_for("holopost_sent") }}">Postausgang</a>&nbsp;&nbsp;
			<a href="{{ url_for("holopost") }}">Posteingang</a>
		</div>
	</section>
	<section class="border">
		<div class="div">
            <form method="post" name="holomail">
                {{ form.hidden_tag() }}
				<div>
					<div class="fith-left {{ "error" if form.receiver.errors }}">
						Empfänger:
					</div>
					<div class="fith-right">
						{{ form.receiver(size=20) }}
					</div>
				</div>
				<div>
					<div class="fith-left {{ "error" if form.subject.errors }}">
						Betreff:
					</div>
					<div class="fith-right">
						{{ form.subject(size=20) }}
					</div>
				</div>
				<div>
					<div class="fith-left {{ "error" if form.body.errors }}">
						Nachricht:
					</div>
					<div class="fith-right">
						{{ form.body(cols=40, rows=10) }}
					</div>
				</div>
				<div>
					<div class="fith-right">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input value="Senden" type="submit">
					</div>
				</div>
			</form>
		</div>
	</section>

{% endblock %}