{% extends "base.html" %}
{% block content %}
    <tr>
        <td class="border textcenter"><h1>Holopost</h1></td>
    </tr>
    <tr class="border">
    <td class="textcenter">
        <a href="{{ url_for("holopost_write") }}">Holopost schreiben</a>&nbsp;&nbsp;
        <a href="{{ url_for("holopost_sent") }}">Postausgang</a>&nbsp;&nbsp;
        <a href="{{ url_for("holopost") }}">Posteingang</a>
    </td>
    </tr>
    <tr>
        <td class="border">
            <table border="0" cellpadding="5" cellspacing="5">
                <tr>
                    <td>
                        Absender: {{ mail.sender.username }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Empfänger: {{ mail.receiver.username }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Datum: {{ mail.timestamp.strftime("%H:%M %d.%m.%y") }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Betreff: {{ mail.subject }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ mail.body|markdown }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for("holopost_write", receiver=mail.sender.username) }}">Antworten</a>
                        <a href="{{ url_for("holopost_delete", id=mail.id) }}">Löschen</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}