{% extends "base.html" %}
{% block header %}
	<section class="text-center">
		<img src="static/images/cooltext2.png"/>
	</section>
{% endblock %}
{% block content %}
	<section class="border">
		<div class="half-left div">
			{% include "form.html" %}
		</div>
		<div class="half-right">
						<p id="dw_desc">Destyny War ist ein Browsergame, das in der Zukunft
							spielt. Jeder Spieler ist Besitzer eines Planeten, mit dessen Hilfe er das Universum
							beherschen kann.<br> </p>
		</div>
        <div class="half-right text-center">
            <a href="{{ url_for("register") }}"><img style="border-style: none;" src="static/images/button.png" alt="Jetzt mitspielen."/></a>
        </div>
	</section>
                    

{% endblock %}