<nav class="nav-border">
	<div class="div">
		<div class="inline">
			<a href="{{ url_for("index") }}">Index</a>
		</div>
		<div class="inline">
			<a href="#">Impressum</a><br>
		</div>
		<div class="inline">
			<a href="#">Forum</a><br>
		</div>
		<div class="inline">
			<a href="#">Hilfe</a><br>
		</div>
		{% if g.user.is_authenticated %}
			<div class="inline">
				<a href="{{ url_for("logout") }}">Logout</a>
			</div>
			<div class="inline">
				<a href="{{ url_for("holopost") }}">
					{% if g.user.has_read_all_mails() %}
						<img class="mailimage" src="{{ url_for("static", filename="images/HolomailGelesen.png") }}" style="text-decoration: none">
					{% else %}
						<img class="mailimage" src="{{ url_for("static", filename="images/HolomailNeu.png") }}" style="text-decoration: none">
					{% endif %}
				</a>&nbsp
				<a href="{{ url_for("holopost") }}">Holopost</a>
			</div>
		{% endif %}
	</div>
</nav>
