{% extends "base.html" %}
{% block content %}
	<section class="header">
		<h1>Registrierung</h1>
	</section>
	<section class="border">
        <form method="post" name="register">
			{{ form.hidden_tag() }}
			<div class="div">
				<div class="third-left text-right">
					Benutzername:
				</div>
				<div class="third-right">
					{{ form.username(class="entry") }}
				</div>
				<div class="third-left text-right">
					Email:
				</div>
				<div class="third-right">
					{{ form.email(class="entry") }}
				</div>
				<div class="third-left text-right">
					Passwort:
				</div>
				<div class="third-right">
					{{ form.password(class="entry") }}
				</div>
				<div class="third-left text-right">
					Wiederholung:
				</div>
				<div class="third-right">
					{{ form.password_rep(class="entry") }}<br>
					<input value="Registrieren" type="submit">
				</div>
			</div>
        </form>
	</section>
	<section>
        Du hast schon einen Benutzernamen? Melde dich einfach auf der <a href="{{ url_for("login") }}">Startseite</a> an.
	</section>
{% endblock %}