{% extends "base.html" %}
{% block content %}
	<section class="header">
		<h1>Registrierung</h1>
	</section>
	{% include "flash.html" %}
	<section class="border">
        <form method="post" name="register">
			{{ form.hidden_tag() }}
			<div class="div">
				<div class="third-left text-right {{ "error" if form.username.errors }}">
					Benutzername:
				</div>
				<div class="third-right">
					{{ form.username(class="entry") }}
				</div>
				<div class="third-left text-right {{ "error" if form.email.errors }}">
					Email:
				</div>
				<div class="third-right">
					{{ form.email(class="entry") }}
				</div>
				<div class="third-left text-right {{ "error" if form.password.errors }}">
					Passwort:
				</div>
				<div class="third-right">
					{{ form.password(class="entry") }}
				</div>
				<div class="third-left text-right {{ "error" if form.password_rep.errors }}">
					Wiederholung:
				</div>
				<div class="third-right">
					{{ form.password_rep(class="entry") }}
				</div>
				<div class="third-right">
					<div class="without-left">
						<input value="Registrieren" type="submit">
					</div>
				</div>
			</div>
        </form>
	</section>
	<section>
        Du hast schon einen Benutzernamen? Melde dich einfach auf der <a href="{{ url_for("login") }}">Startseite</a> an.
	</section>
{% endblock %}